body.modal-open {
  overflow: hidden;
}

.menu-container {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #efe5da; /* Белый цвет */
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Центрирование контента */
}

.menu-container.is-open {
  transform: translateX(0);
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  border: none;
  background-color: transparent;
  /* Основной цвет кнопки */
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;

  /* Убираем стандартные стили фокуса */
  outline: none;
  appearance: none;
  -webkit-appearance: none; /* Для Safari */

  /* Убираем эффекты активного состояния */
  touch-action: manipulation;
}

.burger:focus,
.burger:active {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  /* Цвет фона при фокусе */
}

.burger-line {
  height: 3px;
  border-radius: 3px;
  background-color: #000000; /* Чёрный цвет */
  position: absolute;
  left: 0;
  transition: all 250ms linear;
}

.burger-line-first {
  width: 30px;
  top: 0;
}

.burger-line-second,
.burger-line-third {
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-fourth {
  width: 30px;
  bottom: 0;
}
.burger-active {
  background-color: transparent;
}

.burger-active .burger-line-first,
.burger-active .burger-line-fourth {
  opacity: 0;
}

.burger-active .burger-line-second {
  transform: translateY(-50%) rotate(45deg);
}

.burger-active .burger-line-third {
  transform: translateY(-50%) rotate(-45deg);
}

.navigation-mobile-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.navigation-items:not(:last-child) {
  margin-bottom: 24px;
}

.menu-box-link {
  font-size: 1rem; /* Размер шрифта */
  color: #0600f991; /* Чёрный цвет */
  text-decoration: none;
  font-weight: 550; /* Жирный текст */
  transition: color 0.3s;
}

.menu-box-link:hover {
  color: #405b8d; /* Зелёный цвет */
}

.dark-theme .burger-line {
  background-color: #ffffff; /* Белый цвет для тёмной темы */
}

.dark-theme .menu-container {
  background-color: #1a1a1a; /* Тёмно-серый цвет */
}

/* Прячем бургер-меню на больших экранах */
@media (min-width: 900px) {
  .burger {
    display: none; /* Скрываем бургер */
  }

  .menu-container {
    transform: none;
    position: static; /* Делаем меню обычным */
    width: auto;
    height: auto;
    background-color: transparent; /* Убираем фон */
    display: flex;
    flex-direction: row; /* Делаем меню горизонтальным */
    justify-content: flex-end; /* Выравниваем меню */
  }

  .navigation-mobile-list {
    display: flex; /* Переключаем на горизонтальный список */
    gap: 20px; /* Пробел между элементами */
  }

  .navigation-items:not(:last-child) {
    margin-bottom: 0; /* Убираем нижний отступ */
  }
}
