.container {
  text-align: center;
  padding: 20px;
}

.image {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}

.backButton {
  background-color: rgba(245, 245, 220, 1);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.backButton:hover {
  background-color: rgba(200, 200, 180, 1);
}
