.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  background: #efe5da;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2.5rem; /* Размер текста */
  font-weight: bold;
  color: #624f3a; /* Сохраняем указанный цвет */
  margin-bottom: 20px;
  display: inline-block; /* Для декоративных линий */
  padding-bottom: 10px; /* Отступ для нижней линии */
  margin-left: auto; /* Центрирование через auto */
  margin-right: auto; /* Центрирование через auto */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.8rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 400px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 350px;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 400px;
  }
}
