/* Контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 55, 69, 1);
  min-height: 90vh; /* Робимо контейнер на весь екран */
  text-align: center;
  position: relative;
  padding-bottom: 80px; /* Додаємо відступ, щоб не перекривало навбар */
}

.title {
  font-family: "Kefa", "Merriweather", "Georgia", sans-serif;
  color: rgb(253, 253, 215);
  font-size: 2rem;
  margin-bottom: 20px;
}

.icon {
  margin-right: 8px;
  font-size: 44px;
  color: rgba(10, 10, 35, 1);
}
.imageWrapper {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.artistPhoto {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

/* Кнопки соцмереж */
.socialButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 50px;
}

.button {
  background-color: rgba(245, 245, 220, 1);
  border: none;
  padding: 12px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(10, 10, 35, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button i {
  margin-right: 8px;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.galleryButton {
  background-color: rgba(245, 245, 220, 1);
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(10, 10, 35, 1);
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.galleryButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
